@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Noto+Sans+JP:wght@400;700&family=Sora:wght@400;700&display=swap');


.body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Sora', sans-serif;
    color:var(--body);
    
}
h1 {
    color: #2B1E19 !important;
}
p {
    color: #2B1E19 !important;
}
.bg-dark {
    background-color: #FCB32A !important;
}

/* トップページ */
.intro img{
    width: 100%;
}
.text {
    color: white;
    font-weight: bold;
}
/* 紹介ページ */
.img-intro {
    max-width: 60% !important;
}
/* form */
.formtext {
    font-size: medium;
    font-weight: bold;
}
nav li {
    padding-left: 5%;
}
